<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Webapp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #6a8063;
            padding: 10px 20px;
        }

        .navbar-left, .navbar-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .navbar a {
            color: #181c17;
            text-decoration: none;
            padding: 8px 12px;
            transition: background-color 0.3s ease;
        }

            .navbar a:hover {
                background-color: #374234;
                border-radius: 4px;
            }

        .home-background {
            background-image: url('../images/renewable-energy-helsinki-1080x675.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: repeat-y;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 2rem 0;
        }

        .home-content {
            max-width: 1500px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 2rem;
            border-radius: 10px;
        }

        .logout-button {
            background: none;
            border: none;
            color: #181c17;
            padding: 8px 12px;
            cursor: pointer;
            font-family: Arial, sans-serif;
            font-size: 1rem;
            transition: background-color 0.3s ease;

        }

            .logout-button:hover {
                background-color: #374234;
                border-radius: 4px;
            }

        .navbar-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .username {
            color: #181c17;
            font-family: Arial, sans-serif;
            font-size: 1rem;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-toggle {
            cursor: pointer;
            color: #181c17;
            text-decoration: none;
            padding: 8px 12px;
            display: inline-block;
        }

            .dropdown-toggle:hover {
                background-color: #374234;
                border-radius: 4px;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 220px;
            z-index: 1;
            border-radius: 5px;
        }

            .dropdown-content a {
                color: black;
                padding: 10px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }


    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <span class="dropdown-toggle">Diagrams</span>
                    <div class="dropdown-content">
                        <a href="/Diagram/FirstDiagram">PUE Averages</a>
                        <a href="/Diagram/SecondDiagram">Waste Generation</a>
                        <a href="/Diagram/ThirdDiagram">Water Usage Trends</a>
                        <a href="/Diagram/FourthDiagram">Energy Consumption Trends</a>
                        <a href="/Diagram/FifthDiagram">Carbon Free Energy Map</a>
                        <a href="/Diagram/SixthDiagram">Greenhouse Gas Intensity Diagram</a>
                    </div>
                </div>


                @if (User.HasClaim("Factory", "true"))
                {
                    <a href="/Upload/Upload_data">Upload Data</a>
                }
                @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin@green.com")
                {
                    <a href="/Admin/UserManagement">Admin Panel</a>
                }

            }

            <a href="/Home/Privacy">Privacy Policy</a>
        </div>


        <div class="navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <span class="username">Hello, @User.Identity.Name</span>
                <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            }
            else
            {
                <a href="/Account/Login">Login</a>
                <a href="/Account/Register">Register</a>
            }
        </div>

    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
