@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center">
    @(Html.Kendo().DataSource<PodcastViewModel>()
                                        .Name("dateChartDataSource")
                                        .Custom(d =>
                                         d.Transport(t => t.Read("Downloads_Read", "Dashboard"))
                                        )
    )
    @(Html.Kendo().TileLayout()
                                            .Name("tilelayout")
                                            .Columns(4)
                                            .RowsHeight("145px")
                                            .ColumnsWidth("350px")
                                            .Containers(c =>
                                            {
                                                c.Add().Header(h => h.Text("Total Streams")).ColSpan(1).RowSpan(1)
                                                .BodyTemplate(Html.Kendo().Template().AddHtml("<h2 id='total-streams''></h2>"));

                                                c.Add().Header(h => h.Text("Total Downloads")).ColSpan(1).RowSpan(1) .BodyTemplate(Html.Kendo().Template().AddHtml("<h2 id='total-downloads''></h2>"));

                                                c.Add().Header(h => h.Text("Reach")).ColSpan(1).RowSpan(1) .BodyTemplate(Html.Kendo().Template().AddHtml("<h2 id='total-reach''></h2>"));

                                                c.Add().Header(h => h.Text("Revenue")).ColSpan(1).RowSpan(1) .BodyTemplate(Html.Kendo().Template().AddHtml("<h2 id='total-revenue''></h2>"));

                                                c.Add().Header(h => h.Text("Weekly Recap-Downloads")).ColSpan(2).RowSpan(3)
                                                  .BodyTemplate(
                                                    Html.Kendo().Template().AddComponent(c => c
                                                     .Chart().Name("downloads")
                                                       // to configure the chart theme to match the application theme use the theme setting
                                                       // https://docs.telerik.com/kendo-ui/api/javascript/dataviz/ui/chart/configuration/theme
                                                       .Theme("sass")
                                                       .Series(s => s.Line("Downloads", "Date"))
                                                       .Legend(l => l.Visible(false))
                                                       .CategoryAxis(c =>
                                                       c.Date()
                                                       .BaseUnit(ChartAxisBaseUnit.Fit)
                                                       .Labels(l => l.Format("{0:d MMM}").Rotation("auto"))
                                                       .MajorGridLines(mg => mg.Visible(false))
                                                       .MajorTicks(mt => mt.Visible(false))
                                                       )
                                                       .ValueAxis(v => v.Min(2000).Max(16000).Labels(l => l.Step(4)))
                                                       .DataSource("dateChartDataSource")
                                                       ));

                                                c.Add().Header(h => h.Text("Performance Trend")).ColSpan(2).RowSpan(3)
                                                  .BodyTemplate(
                                                    Html.Kendo().Template().AddComponent(c => c
                                                      .Chart()
                                                        .Name("performance")
                                                        // to configure the chart theme to match the application theme use the theme setting
                                                        // https://docs.telerik.com/kendo-ui/api/javascript/dataviz/ui/chart/configuration/theme
                                                        .Theme("sass")
                                                        .AutoBind(false)
                                                        .Series(s => s.Column("Views", "Date"))
                                                        .Legend(l => l.Visible(false))
                                                        .CategoryAxis(c =>
                                                            c.Date()
                                                            .BaseUnit(ChartAxisBaseUnit.Fit)
                                                            .Labels(l => l.Format("{0:d MMM}").Rotation("auto"))
                                                            .MajorGridLines(mg => mg.Visible(false))
                                                            .MajorTicks(mt => mt.Visible(false))
                                                        )
                                                        .ValueAxis(v => v.Min(4000).Max(30000).Labels(l => l.Step(3)))
                                                        .DataSource("dateChartDataSource")
                                                       ));
                                                          ;

                                                   c.Add().Header(h => h.Text("Top 5 Episodes")).ColSpan(4).RowSpan(2)
                                                  .BodyTemplate(
                                                    Html.Kendo().Template().AddComponent(c => c
                                                      .Grid<PodcastViewModel>()
                                                        .Name("Grid")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(p => p.Name).Title("Podcast Episode").Width(320);
                                                            columns.Bound(p => p.Streams).Width(150);
                                                            columns.Bound(p => p.Downloads).Width(250);
                                                        })
                                                        .Sortable()
                                                        .Scrollable(s => s.Height("auto"))
                                                        .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .PageSize(5)
                                                            .Sort(s => s.Add(f => f.Streams).Descending())
                                                            .Read("Podcasts_Read", "Dashboard")
                                                            .Aggregates(a =>
                                                            {
                                                                a.Add(f => f.Downloads).Sum();
                                                                a.Add(f => f.Streams).Sum();
                                                                a.Add(f => f.Reach).Sum();
                                                                a.Add(f => f.Views).Sum();
                                                            })
                                                        )
                                                            .Events(e => e.DataBound("populateTotals"))));
                                                          
                                                  c.Add().Header(h => h.Text("Listening platforms-Apps")).ColSpan(2).RowSpan(2)
                                                  .BodyTemplate(
                                                    Html.Kendo().Template().AddComponent(c => c
                                                     .Chart()
                                                       .Name("devices")
                                                       // to configure the chart theme to match the application theme use the theme setting
                                                       // https://docs.telerik.com/kendo-ui/api/javascript/dataviz/ui/chart/configuration/theme
                                                       .Theme("sass")
                                                       .Series(s => s.Donut("Views", "Device")
                                                           .AutoFit()
                                                           .Labels(labels => labels
                                                           .Visible(true)
                                                           .Template(Html.Kendo().Template().AddHtml("${data.category}"))
                                                           .Background("transparent")
                                                           .Position(ChartSeriesLabelsPosition.OutsideEnd)
                                                           )
                                                       )
                                                       .Legend(l => l.Visible(false))
                                                       .DataSource(d => d.Read("Devices_Read", "Dashboard"))
                                                      ));

                                                 c.Add().Header(h => h.Text("Listening platforms-Devices")).ColSpan(2).RowSpan(2)
                                                  .BodyTemplate(
                                                    Html.Kendo().Template().AddComponent(c => c
                                                     .Chart<PodcastViewModel>()
                                                       .Name("platforms")
                                                       // to configure the chart theme to match the application theme use the theme setting
                                                       // https://docs.telerik.com/kendo-ui/api/javascript/dataviz/ui/chart/configuration/theme
                                                       .Theme("sass")
                                                       .Series(s =>
                                                           s.Donut(model => model.Views, model => model.PlatformName)
                                                           .AutoFit()
                                                           .Labels(labels => labels
                                                           .Visible(true)
                                                           .Template(Html.Kendo().Template().AddHtml("${data.category}"))
                                                           .Position(ChartSeriesLabelsPosition.OutsideEnd)
                                                           .Background("transparent"))
                                                       )
                                                       .DataSource(d => d.Read("Platforms_Read", "Dashboard"))
                                                       .Legend(l => l.Visible(false))
                                                      ));
                                         })
                                  .Reorderable(true)
                                  .Resizable(true)
                                  .Events(e => e.Resize("onTileResize")))
    
 
    </div>